In [12]:
#Import the packages
import numpy as np
import pandas as pd
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot as plt

In [ ]:
df =pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/Datasets/main/auto-mpg.csv")
df.info()
df["horsepower"]=df["horsepower"].replace("?",np.nan)
df["horsepower"]=df["horsepower"].astype(float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [ ]:
df = pd.get_dummies(df, columns=['origin'])
df.sample(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,car name,origin_1,origin_2,origin_3
253,20.5,6,200.0,95.0,3155,18.2,78,chevrolet malibu,1,0,0
175,29.0,4,90.0,70.0,1937,14.0,75,volkswagen rabbit,0,1,0
310,38.1,4,89.0,60.0,1968,18.8,80,toyota corolla tercel,0,0,1
111,18.0,3,70.0,90.0,2124,13.5,73,maxda rx3,0,0,1
332,29.8,4,89.0,62.0,1845,15.3,80,vokswagen rabbit,0,1,0
76,18.0,4,121.0,112.0,2933,14.5,72,volvo 145e (sw),0,1,0
104,12.0,8,400.0,167.0,4906,12.5,73,ford country,1,0,0
135,18.0,6,225.0,105.0,3613,16.5,74,plymouth satellite sebring,1,0,0
371,29.0,4,135.0,84.0,2525,16.0,82,dodge aries se,1,0,0
187,17.5,8,305.0,140.0,4215,13.0,76,chevrolet chevelle malibu classic,1,0,0

In [ ]:
df.drop("car name",axis=1,inplace=True)

In [13]:
df["origin"] = df["origin"].replace({1:'america', 2:'europe', 3:'asia'})
df.sample(10)

KeyError: ignored

In [15]:
sns.pairplot(df, diag_kind="kde")|

SyntaxError: ignored